.logo-removebg-1-icon,
.wallpepar-1-icon {
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.wallpepar-1-icon {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.logo-removebg-1-icon {
  align-self: stretch;
  position: relative;
  z-index: 1;
}
.main-f-r-a-m-e-child {
  height: 74px;
  width: 203px;
  position: relative;
  border-radius: var(--br-xl);
  cursor: pointer;
  z-index: 1;
}
.start {
  position: relative;
  font-size: var(--font-size-13xl);
  display: inline-block;
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
  z-index: 2;
  margin-left: -155px;
}
.main-f-r-a-m-e,
.welcome {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
}
.main-f-r-a-m-e {
  cursor: pointer;
  border: 0;
  padding: 0 var(--padding-xl);
  background-color: transparent;
  width: 243px;
  flex-direction: row;
}
.welcome {
  width: 100%;
  position: relative;
  background-color: #302e2e;
  overflow: hidden;
  flex-direction: column;
  padding: 222px 0 263px;
  gap: 89px 0;
}
